<header class="container-fluid bg-secondary text-light">
    <h1 class="mb-4 pt-3">Product Form ⚡</h1>
    <a href="/products" class="btn btn-warning mb-4">View Products</a>
<form action="/products" method="post" class="pb-5">
    <div class="form-group">
        <label class="form-label" for="name" class="form-control">Name:</label>
        <input type="text" id="name" name="name" placeholder="Type the name" class="form-control w-25" required><br><br>
    </div>
    <div class="form-group">
        <label class="form-label" for="price" class="form-control">Price:</label>
        <input type="text" id="price" name="price" placeholder="Type the price" class="form-control w-25" required><br><br>
    </div>
    <div class="form-group">
        <label class="form-label" for="thumbnail" class="form-control">Image URL:</label>
        <input type="text" id="thumbnail" name="thumbnail" placeholder="Type url of the image" class="form-control w-25" required><br><br>
    </div>
        <input type="submit" value="Submit" class="btn btn-primary">
</form>
</header>
